{% extends 'main/layout.html' %}
{% load crispy_forms_tags %}

{% block title %}О Вас{% endblock %}

{% block content %}
    <div class="feature">
        <h1>Ваши друзья</h1>
        {% for friend in friends %}
            <div class="alert alert-secondary">
                <p>Username: {{ friend.username }}</p>
                <p>Bitcoin address: {{ friend.bitcoin_address }}</p>
                <a href="{% url 'unfriend' friend.id %}" class="btn btn-danger">Удалить из друзей</a>
            </div>
        {% empty %}
            <p>Одиночество одиночки...</p>
        {% endfor %}
    </div>
{% endblock %}